.prompt { background-color: rgb(205, 205, 205); height: 100%; display: flex; flex-direction: column; }
/* board */
.prompt > .board {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(205, 205, 205);
    padding: 2rem;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #000000;
}
.prompt > .board > .top { display: flex; justify-content: space-between; padding-bottom: 1em; }
.prompt > .board > .top > h1 { padding-left: 0.5em; }
.prompt > .board > .top > a {
    align-self: center;
    font-size: 28px;
    padding: 0.5em 1.3em;
    cursor: pointer;
    border: 3px solid gray;
    background-color: rgb(217, 217, 217);
    font-weight: 600;
}
.prompt > .board > .terminal {
    background-color: rgb(41, 41, 41);    
    overflow-y: scroll;
    color: white;
    padding-left: 0.5em;
    padding-top: 0.5em;
    flex: 1;
}




/* Command */
.prompt > .command { display: flex; justify-content: center; padding: 2rem; }
.prompt > .command > .field { width: 100%; display: flex; font-size: 22px; position: relative; border: 2px solid #000000; }
.prompt > .command > .field > textarea { flex: 1; font-size: 1em; height: 5em; font-weight: 400; }
.prompt > .command > .field > button {
    position : absolute;
    border: none;
    padding: 0;
    font-size: 28px;
    font-weight: 600;
    padding: 0.5em 1em;
    right: 1px;
    bottom : 1px;    
    border: 2px solid gray;
    cursor: pointer;
}
.prompt > .command > .field > button:active { background-color: rgb(253, 98, 98); }